{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <div class="card shadow p-4">
    <h2 class="mb-4">Cadastrar Cliente</h2>
    <form method="POST">
      <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" name="nome" class="form-control" required>
      </div>
      <div class="mb-3">
        <label class="form-label">CPF</label>
        <input type="text" name="cpf" class="form-control" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
      <a href="/" class="btn btn-secondary ms-2">Voltar</a>
    </form>
  </div>
</div>
{% endblock %}
